@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Sora", sans-serif;
    color: var(--azul-cinzento-escuro);
    background-image: url("../img/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 65px;
    padding-bottom: 50px;
}

.passos {
    width: 510px;
    max-width: 90%;
    margin-bottom: 25px;
}

.passos img {
    width: 100%;
    display: block;
}

.textos-passos {
    position: relative;
    height: 30px;
    margin-top: 8px;
}

.textos-passos p {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    color: var(--verde-escuro);
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
}

.texto1 {
    left: 6%;
}

.texto2 {
    left: 50%;
}

.texto3 {
    left: 94%;
}

.container {
    width: 530px;
    background-color: var(--branco);
    border: 1px solid var(--cinza-mais-escuro);
    border-radius: 22px;
    padding: 20px 28px 25px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.logo {
    width: 190px;
    display: block;
    margin: 0 auto 5px;
}

.container h1 {
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 4px;
}

.subtitulo {
    text-align: center;
    color: var(--cinza-mais-escuro);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 17px;
}

form {
    display: flex;
    flex-direction: column;
}

.campo {
    height: 48px;
    display: flex;
    align-items: center;
    border: 1px solid var(--cinza-mais-escuro);
    border-radius: 12px;
    background-color: var(--branco);
    margin-bottom: 8px;
}

.campo img {
    width: 22px;
    height: 22px;
    margin-left: 17px;
    margin-right: 18px;
}

.campo input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "Sora", sans-serif;
    font-size: 16px;
    color: var(--cinza-mais-escuro);
    padding-right: 15px;
}

.campo input::placeholder {
    color: var(--cinza-mais-escuro);
}

.botoes {
    display: flex;
    margin-top: 7px;
}

.botoes button {
    width: 50%;
    height: 45px;
    border: none;
    border-radius: 11px;
    font-family: "Sora", sans-serif;
    font-size: 19px;
    font-weight: 700;
    color: var(--branco);
    cursor: pointer;
}

.cancelar {
    background-color: var(--vermelho);
    margin-right: 4px;
}

.continuar {
    background-color: var(--verde-escuro);
    margin-left: 4px;
}

.cancelar:hover,
.continuar:hover {
    opacity: 0.9;
}

/* Esse código abaixo serve pra esconder o ícone de data do html */

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"] {
    appearance: none;
}

/* */

.container-informacoes {
    width: 610px;
    padding: 24px 32px 30px;
}

.container-informacoes .logo {
    width: 205px;
    margin-bottom: 12px;
}

.container-informacoes h1 {
    font-size: 34px;
    margin-bottom: 5px;
}

.container-informacoes .subtitulo {
    margin-bottom: 28px;
}

.campo-info {
    height: 52px;
    display: flex;
    align-items: center;
    border: 1px solid var(--cinza-mais-escuro);
    border-radius: 12px;
    background-color: var(--branco);
    margin-bottom: 16px;
    overflow: hidden;
}

.icone-info {
    width: 82px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cinza-claro);
}

.icone-info img {
    width: 25px;
    height: 25px;
}

.texto-icone {
    color: var(--cinza-escuro);
    font-size: 18px;
    font-weight: 700;
}

.campo-info input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 16px;
    padding-right: 12px;
    font-family: "Sora", sans-serif;
    font-size: 16px;
    color: var(--cinza-mais-escuro);
}

.campo-info input::placeholder {
    color: var(--cinza-escuro);
}

.botoes-info {
    margin-top: 10px;
}

.voltar,
.cadastrar {
    width: 50%;
    height: 48px;
    border-radius: 11px;
    font-family: "Sora", sans-serif;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
}

.voltar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--azul-cinzento-escuro);
    text-decoration: none;
    background-color: var(--branco);
    border: 1px solid var(--cinza-mais-escuro);
    margin-right: 4px;
}

.cadastrar {
    border: none;
    color: var(--branco);
    background-color: var(--verde-escuro);
    margin-left: 4px;
    cursor: pointer;
}

.pagina-concluida {
    padding-top: 65px;
}

.cadastro-concluido {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 45px;
}

.check-sucesso {
    width: 130px;
    margin-bottom: 28px;
}

.cadastro-concluido h1 {
    color: var(--verde-escuro);
    font-size: 40px;
    margin-bottom: 34px;
}

.ir-login {
    width: 230px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--azul-cinzento-escuro);
    background-color: var(--branco);
    border: 1px solid var(--cinza-mais-escuro);
    border-radius: 11px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

.ir-login:hover {
    opacity: 0.9;
}





/* LOGIN */



.pagina-login {
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-login {
    width: 530px;
    padding: 30px 28px;
}

.logo-login {
    width: 205px;
    margin-bottom: 12px;
}

.container-login h1 {
    margin-bottom: 6px;
}

.container-login .subtitulo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
    line-height: 22px;
}

.entrar {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde-escuro);
    color: var(--branco);
    border: none;
    border-radius: 11px;
    font-family: "Sora", sans-serif;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 7px;
}

.entrar img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.entrar:hover {
    opacity: 0.9;
}

.link-cadastro {
    text-align: center;
    margin-top: 14px;
    font-size: 13px;
}

.link-cadastro span {
    color: var(--azul-cinzento-escuro);
    font-weight: 600;
}

.link-cadastro a {
    color: var(--verde-escuro);
    font-weight: 700;
    margin-left: 4px;
}

/* responsivo celular */

@media (max-width: 600px) {

    .container {
        width: calc(100% - 40px);
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        box-sizing: border-box;
    }
     .textos-passos {
        margin-bottom: 10px;
        gap: 5px;
    }

    .textos-passos p {
        font-size: 12px;
    }

}